* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: montserrat;
    background-color: white;
    color: black;
}

#navegador{
    background-color: black;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 0 0;
    width: 90%;
    border-radius: 15px;
    margin: 0 auto;
}

#navegador div a img{
    height: 70px;
    max-width: 140px;
}

#navegador div a{

    color:white;
    font-weight: 400;
    font-size: 16px;
    transition: 0.5;
    width: 100%;
}

#navegador div a:hover{

    color:lightgreen;

}

#navegador div div.collapse.navbar-collapse.justify-content-center{

  width: 100%;

} 

#navegador div div.collapse.navbar-collapse.justify-content-center div.navbar-nav{

  gap: 50px;

}

#equipo{

    text-align: left;
    padding: 30px 100px;
    background-color: white;
}

#equipo h1{

    font-size: 35px;
    font-weight: 500;
    color: skyblue;
    max-width: 800px;
    margin: 50px auto;
    margin-top: 30px;
    text-align: center;

}

.equipo--flex{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    gap: 100px;
    align-items: center;
    border-top: 2px solid skyblue;
    padding: 50px 0;
    max-width: 700px;
}

.equipo--flex div{

    max-width: 300px;
}

.equipo--flex h3{

    margin-top: 30px;
    font-size: 20px;

}


.equipo--flex div p{

    line-height: 35px;
    margin-top: 30px;
}

.equipo--flex div img{

    border-radius: 10px;

}


.footer-button {
    background-color: black;
    border: 2px solid white;
    color: white;
    transition: all 0.3s ease; /* Para una transición suave en los cambios */
}

.footer-button:hover {
    border: 2px solid cornflowerblue;
    color: cornflowerblue;
}

.footer-button i {
    color: inherit; /* Para asegurar que el color del ícono cambie junto con el texto */
}