* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: montserrat;
    background-color: white;
    color: black;
}

#navegador{
    background-color: black;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 0 0;
    width: 90%;
    border-radius: 15px;
    margin: 0 auto;
}

#navegador div a img{
    height: 70px;
    max-width: 140px;
}

#navegador div a{

    color:white;
    font-weight: 400;
    font-size: 16px;
    transition: 0.5;
    width: 100%;
}

#navegador div a:hover{

    color:lightgreen;

}

#navegador div div.collapse.navbar-collapse.justify-content-center{

  width: 100%;

} 

#navegador div div.collapse.navbar-collapse.justify-content-center div.navbar-nav{

  gap: 50px;

}

#equipo{

    text-align: left;
    background-color: white;
}


#equipo h1{

    font-size: 35px;
    font-weight: 500;
    color: skyblue;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: left;

}

.equipo--divwidth{

    max-width: 700px;
    margin: 0 auto;

}

.equipo--flex{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    align-items: center;
    border-top: 3px solid skyblue;
    padding: 50px 0;
}


.equipo--flex div{

    max-width: 300px;
}

.equipo--flex h3{

    margin-top: 30px;
    font-size: 20px;
    color: gray;
    font-size: bold;

}


.equipo--flex div p{

    line-height: 35px;
    margin-top: 30px;
}

.equipo--flex div img{

    border-radius: 10px;

}

#equipo--tecnico{

    text-align: left;
    background-color: snow;
    padding: 40px 0;

}

#equipo--tecnico h1{

    font-size: 35px;
    font-weight: 500;
    color: forestgreen;
    margin-bottom: 30px;
    margin-top: 0;

}

.equipo--tecnico-flex{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border-top: 2px solid forestgreen;
    padding: 30px 0;

}

.equipo--tecnico--divwidth{

    max-width: 700px;
    margin: 0 auto;

}

.equipo--tecnico-flex div{

    max-width:200px;

}

.equipo--tecnico-flex div img{

    max-width: 200px;
    border-radius: 10px;
    margin-bottom: 10px;

}

.equipo--tecnico-flex div h2{

    font-size: 20px;

}

.equipo--tecnico-flex div h3{

    font-size: 17px;
    color: darkslategray;
    margin-bottom: 12px;

}

.equipo--tecnico-flex div button{

    max-width: 100px;
    font-size: 14px;
    padding: 3px 10px;
    background-color: darkseagreen;
    border: none;
    color: white;
    font-weight: 500;
    border-radius: 0.25rem;
    text-align: center;
    margin: 0 auto;

}

#equipo--adm{

    text-align: left;
    background-color: white;
    padding: 40px 0;

}

#equipo--adm h1{

    font-size: 35px;
    font-weight: 500;
    color: skyblue;
    margin-bottom: 30px;
    margin-top: 0;

}

.equipo--adm-flex{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border-top: 2px solid skyblue;
    padding: 30px 0;

}

.equipo--adm-divwidth{

    max-width: 700px;
    margin: 0 auto;

}

.equipo--adm-flex div{

    max-width:200px;

}

.equipo--adm-flex div img{

    max-width: 200px;
    border-radius: 10px;
    margin-bottom: 10px;

}

.equipo--adm-flex div h2{

    font-size: 20px;

}

.equipo--adm-flex div h3{

    font-size: 17px;
    color: darkslategray;
    margin-bottom: 12px;

}

.equipo--adm-flex div button{

    max-width: 100px;
    font-size: 14px;
    padding: 3px 10px;
    background-color: skyblue;
    border: none;
    color: white;
    font-weight: 500;
    border-radius: 0.25rem;
    text-align: center;
    margin: 0 auto;

}


.footer-button {
    background-color: black;
    border: 2px solid white;
    color: white;
    transition: all 0.3s ease; /* Para una transición suave en los cambios */
}

.footer-button:hover {
    border: 2px solid cornflowerblue;
    color: cornflowerblue;
}

.footer-button i {
    color: inherit; /* Para asegurar que el color del ícono cambie junto con el texto */
}